.bouncing-icon-container{
  position:relative;
  cursor:pointer;
}

.bouncing-icon{
  position:absolute;
  transition: all ease-out 300ms;
}

  .bouncing-icon.bounced{
    transform: scale(1.8); 
  }
  
  .bouncing-icon.transparent{
    opacity: 0; 
  }