<!-- Display loader if stock places are not loaded yet -->
<tl-loader
  *ngIf="!this.stockService.isLoaded">
</tl-loader>

<!-- Places panel -->
<div
  *ngIf="this.stockService.isLoaded"
  class="tl-full tl-row-dir tl-hor-center tl-flex-block">
  
  <!-- Case no place yet -->
  <ng-container
   *ngIf="this.stockService.places.length == 0">
    <p>
     Pour commencer, ajouter des lieux de stockage 
    </p>
    <tl-square-icon
      class="tl-margined"
      [size]="30"
      [icon]="'ion-arrow-down-outline'">
    </tl-square-icon>
  </ng-container>
  
  <!-- Place cards -->
  <tl-card
    *ngFor="let place of this.stockService.places"
    class="place-card tl-clickable"
    [size]="'tl-big'"
    [tlStyle]="'tl-shadowed-soft-transparent'"
    [padding]="20"
    (click)="onClickPlace(place)">
    
    <div
      class="tl-full tl-row-dir tl-vert-center tl-hor-space-between tl-flex-block">
      
      <div
        class="tl-row-dir tl-vert-center tl-flex-block">
        
        <div
          class="tl-subtitle"
          style="margin-right:10px">
          {{ place.name }}
        </div>
        
        <tl-spinner
          *ngIf="place.computedWeather === 0">
        </tl-spinner>
        
        <tl-square-icon
          *ngIf="place.computedWeather === 1"
          [icon]="'ion-thunderstorm-outline'"
          [size]="30"
          [color]="'tl-failure'">
        </tl-square-icon>
        
        <tl-square-icon
          *ngIf="place.computedWeather === 2"
          [icon]="'ion-rainy-outline'"
          [size]="30"
          [color]="'tl-neutral'">
        </tl-square-icon>
        
        <tl-square-icon
          *ngIf="place.computedWeather === 3"
          [icon]="'ion-partly-sunny-outline'"
          [size]="30"
          [color]="'tl-success'">
        </tl-square-icon>
        
        <tl-square-icon
          *ngIf="place.computedWeather === 4"
          [icon]="'ion-sunny-outline'"
          [size]="30"
          [color]="'tl-success'">
        </tl-square-icon>
        
      </div>
      
      <div
        class="tl-row-dir tl-vert-center tl-flex-block">
        
        <tl-icon-toggler
          class="tl-margined" 
          [size]="30"
          [icon]="'ion-heart-outline'"
          [iconOn]="'ion-heart'"
          [initialState]="place.favorite"
          (toggle)="this.onChangeFavoriteFlag($event, place)">
        </tl-icon-toggler>
        
        <tl-square-icon
          style="cursor:pointer"
          class="tl-margined"
          [size]="30"
          [icon]="'ion-share-social-outline'">
        </tl-square-icon>
        
      </div>
      
    </div>
    
  </tl-card>
  
</div>

<!-- Button to add a new place -->
<div
  class="new-place-button tl-row-dir tl-vert-center tl-no-wrap tl-flex-block">
  
  <div
    style="margin-right:10px"
    class="new-place-button-label"
    [class.hidden]="this.newPlaceButtonLabelStatus === 1"
    [class.none]="this.newPlaceButtonLabelStatus === 2">
    Ajouter une pièce
  </div>
  
  <tl-button
    [tlStyle]="'tl-glassmorphic'"
    [size]="60"
    [icon]="'ion-add-outline'"
    [color]="'tl-success'"
    (clickButton)="this.displayNewPlacePopup = true">
  </tl-button>
  
</div>

<!-- Popup to create new place -->
<tl-popup-overlay
  [display]="this.displayNewPlacePopup"
  [tlStyle]="'tl-sharp-transparent'"
  (close)="this.displayNewPlacePopup = false">
  
  <!-- Popup to display -->
  <tl-card
    style="overflow:visible"
    [tlStyle]="'tl-bodylike'"
    [size]="'tl-two-third-responsive'"
    [padding]="20">
    
    <tl-form
      [form]="{
          items: [
              {
                id: 'place-name',
                type: 'input-text',
                label: 'Nom de la pièce',
                icon: 'ion-pricetag-outline'
              },
              {
                id: 'place-favorite',
                type: 'toggler',
                label: 'Favori'
              },
              {
                id: 'place-position',
                type: 'input-text',
                label: 'Localisation',
                icon: 'ion-navigate-circle-outline'
              }
            ],
          button: {
            label: 'Créer',
            icon: 'ion-send-outline'
          }
        }"
      [size]="'tl-half-responsive'"
      [validationInlineStyle]="true"
      [itemStyle]="'tl-soft-transparent'"
      [itemsBorderRadius]="'tl-br-infinite'"
      [submitButtonLoadingStatus]="this.newPlacePopupLoadingStatus"
      (submitForm)="this.submitNewPlaceForm($event)">
    </tl-form>
    
  </tl-card>

</tl-popup-overlay>