.floating-action-center{
  position:fixed;
  bottom:100px;
  right:20px;
  z-index:10000;
}

.floating-action-center-button-label{
  position:relative;
  left:0px;
  opacity:1;
  transition: left ease-in 300ms,
  opacity ease-out 300ms;
}

  .floating-action-center-button-label.hidden{
    opacity:0;
    left:100px;
  }
  
  .floating-action-center-button-label.none{
    display:none;
  }