.batch-card{
  box-shadow: 0 8px 32px 0 var(--dark-shadow-color);
}

.new-batch-button {
	position:fixed;
	bottom:100px;
	right:20px;
}

.new-batch-button-label{
	position:relative;
	left:0px;
  opacity:1;
	transition: left ease-in 300ms,
	 opacity ease-out 300ms;
}

	.new-batch-button-label.hidden{
	  opacity:0;
	  left:100px;
	}
	
	.new-batch-button-label.none{
    display:none;
  }