<tl-card
   *ngIf="!this.place.isUndefined()"
   class="tl-xbig-bottom-margined"
   [size]="'tl-xbig'"
   [tlStyle]="'tl-no-bg-outlined'"
   [padding]="20">

	<!-- Place title -->
	<div
	  class="tl-title tl-big-bottom-margined">
	  {{ this.place.name }}
	</div>


	<!-- Place Search Bar -->
	<tl-input
	  class="tl-big-bottom-margined"
	  [size]="'tl-near-full-responsive'"
	  [tlStyle]="'tl-glassmorphic'"
	  [placeholder]="'Rechercher un lot'"
    [lingeringPlaceholder]="true"
	  [icon]="'ion-search-outline'"
	  [height]="50"
	  [validationOn]="false"
	  (changeValue)="this.searchBatch($event)">
	</tl-input>  
	
</tl-card>

<!-- Display loader if place is not resolved yet -->
<tl-loader
  *ngIf="this.place.isUndefined() || !this.place.areBatchesResolved">
</tl-loader>

<!-- Batches panel -->
<div
  *ngIf="!this.place.isUndefined() && this.place.areBatchesResolved"
  class="tl-full tl-row-dir tl-hor-center tl-flex-block">
  
  <div
    *ngIf="this.displayedBatches.length == 0">
    Aucun lot trouvé
  </div>
  
  <ms-batch
    *ngFor="let batch of this.displayedBatches"
    class="tl-margined"
    [place]="this.place"
    [batch]="batch"
    [size]="'tl-big'"
    [displayEditButton]="true"
    [enableSelectionMode]="true"
    [isInSelectionMode]="this.selectedBatches.length != 0"
    (clickEditButton)="onClickBatchEdit(batch)"
    (select)="this.onSelectBatch(batch)"
    (unselect)="this.onUnselectBatch(batch)">
  </ms-batch>
  
</div>

<a
  *ngIf="this.showLoadMoreButton"
  class="tl-big-margined"
  (click)="this.onClickShowMore()">
  Voir plus
</a>

<!-- Floating action center (bottom right corner) -->
<div
  *ngIf="this.stockService.isLoaded"
  class="floating-action-center tl-col-dir tl-hor-right tl-flex-block">

  <!-- Button in case multiple batches are selected -->  
  <div
    *ngIf="this.selectedBatches.length!=0"
    class="tl-row-dir tl-vert-center tl-no-wrap tl-flex-block">
    
    <div
      style="margin-right:10px"
      class="floating-action-center-button-label">
      Changer la catégorie
    </div>
    
    <tl-button
      [tlStyle]="'tl-glassmorphic'"
      [size]="60"
      [icon]="'ion-pricetags-outline'"
      [color]="'tl-success'"
      (clickButton)="this.displayChangeCategoryPopup = true">
    </tl-button>
    
  </div>
  <div
    *ngIf="this.selectedBatches.length!=0"
    class="tl-row-dir tl-vert-center tl-no-wrap tl-flex-block">
    
    <div
      style="margin-right:10px"
      class="floating-action-center-button-label">
      Changer de pièce
    </div>
    
    <tl-button
      [tlStyle]="'tl-glassmorphic'"
      [size]="60"
      [icon]="'ion-location-outline'"
      [color]="'tl-success'"
      (clickButton)="this.displayNewBatchPopup = true">
    </tl-button>
    
  </div>

  <!-- Button to add a new batch -->
  <div
    *ngIf="this.selectedBatches.length==0"
    class="tl-row-dir tl-vert-center tl-no-wrap tl-flex-block">
    
    <div
      style="margin-right:10px"
      class="floating-action-center-button-label"
      [class.hidden]="this.newBatchButtonLabelStatus === 1"
      [class.none]="this.newBatchButtonLabelStatus === 2">
      Ajouter un lot
    </div>
    
  	<tl-button
  	  [tlStyle]="'tl-glassmorphic'"
  	  [size]="60"
  	  [icon]="'ion-add-outline'"
  	  [color]="'tl-success'"
  	  (clickButton)="this.displayNewBatchPopup = true">
  	</tl-button>
  	
  </div>
  
</div>

<!-- Popup to create new batch -->
<tl-popup-overlay
  [display]="this.displayNewBatchPopup"
  [tlStyle]="'tl-sharp-transparent'"
  (close)="this.onClickCloseNewBatchPopup()">
  
  <!-- Popup to display -->
  <tl-card
    style="overflow:visible"
    [tlStyle]="'tl-bodylike'"
    [size]="'tl-two-third-responsive'"
    [padding]="20">
    
    <tl-form
      *ngIf="this.displayNewBatchPopup || this.isSubmittingEditionOrCreationForm"
		  [form]="{
		      items: [
		          {
		            id: 'batch-name',
		            type: 'input-text',
		            label: 'Nom du lot',
                icon: 'ion-pricetag-outline',
                initialValue: this.editedBatch.name
		          },
              {
                id: 'batch-category',
                type: 'select',
                label: 'Catégorie',
                proposals: this.householdService.household.computedCategoryProposals,
                initialValue: this.editedBatch.category
              },
		          {
		            id: 'batch-favorite',
		            type: 'toggler',
		            label: 'Favori',
                initialValue: this.editedBatch.favorite
		          },
              {
                id: 'batch-date',
                type: 'date-picker',
                label: 'Date Limite',
                validationFilter: 'date',
                validationMessage: 'Le contenu doit être une date valide',
                initialValue: this.editedBatch.date
              },
              {
                id: 'batch-quantity',
                type: 'input-text',
                label: 'Quantité',
                icon: 'ion-speedometer-outline',
                validationFilter: 'integer',
                validationMessage: 'Le contenu doit être un n ombre entier positif',
                initialValue: this.editedBatch.quantity
              },
              {
                id: 'batch-good-quantity',
                type: 'input-text',
                label: 'Quantité cible minimum',
                icon: 'ion-battery-half-outline',
                validationFilter: 'integer',
                validationMessage: 'Le contenu doit être un n ombre entier positif',
                initialValue: this.editedBatch.goodQuantity
              },
              {
                id: 'batch-highest-quantity',
                type: 'input-text',
                label: 'Quantité cible maximum ',
                icon: 'ion-battery-full-outline',
                validationFilter: 'integer',
                validationMessage: 'Le contenu doit être un n ombre entier positif',
                initialValue: this.editedBatch.highestQuantity
              },
              {
                id: 'batch-low-quantity',
                type: 'input-text',
                label: 'Quantité minimale',
                icon: 'ion-battery-dead-outline',
                validationFilter: 'integer',
                validationMessage: 'Le contenu doit être un n ombre entier positif',
                initialValue: this.editedBatch.lowLimitQuantity
              },
              {
                id: 'batch-weight',
                type: 'input-text',
                label: 'Poids d\'un produit (kg)',
                icon: 'ion-barbell-outline',
                validationFilter: 'number',
                validationMessage: 'Le contenu doit être un nombre decimal (poids en kg)',
                initialValue: this.editedBatch.weight
              },
              {
                id: 'batch-energy',
                type: 'input-text',
                label: 'Nombre de calories/kg',
                icon: 'ion-flame-outline',
                validationFilter: 'integer',
                validationMessage: 'Le contenu doit être un entier positif',
                initialValue: this.editedBatch.energy
              },
              {
                id: 'batch-price',
                type: 'input-text',
                label: 'Prix par produit',
                icon: 'ion-cash-outline',
                validationFilter: 'number',
                validationMessage: 'Le contenu doit être un nombre décimal (prix en euros)',
                initialValue: this.editedBatch.price
              }
		        ],
		      button: {
		        label: (this.editedBatch.id == undefined)?'Créer':'Modifier',
		        icon: 'ion-send-outline'
		      }
		    }"
		  [size]="'tl-half-responsive'"
      [validationInlineStyle]="true"
      [itemStyle]="'tl-soft-transparent'"
		  [itemsBorderRadius]="'tl-br-infinite'"
		  [submitButtonLoadingStatus]="this.newBatchPopupLoadingStatus"
		  (submitForm)="this.submitBatchForm($event)">
		</tl-form>
    
  </tl-card>

</tl-popup-overlay>


<!-- Popup to change category (batch mode) -->
<tl-popup-overlay
  [display]="this.displayChangeCategoryPopup"
  [tlStyle]="'tl-sharp-transparent'"
  (close)="this.displayChangeCategoryPopup = false">
  
  <!-- Popup to display -->
  <tl-card
    style="overflow:visible"
    [tlStyle]="'tl-bodylike'"
    [size]="'tl-two-third-responsive'"
    [padding]="20">
    
    <tl-form
      *ngIf="this.displayChangeCategoryPopup"
      [form]="{
          items: [
              {
                id: 'batches-category',
                type: 'select',
                label: 'Nouvelle Catégorie',
                proposals: this.householdService.household.computedCategoryProposals
              }
            ],
          button: {
            label: 'Modifier',
            icon: 'ion-send-outline'
          }
        }"
      [size]="'tl-half-responsive'"
      [itemStyle]="'tl-soft-transparent'"
      [itemsBorderRadius]="'tl-br-infinite'"
      [validationInlineStyle]="true"
      [submitButtonLoadingStatus]="this.changeCategoryPopupLoadingStatus"
      (submitForm)="this.submitChangeCategoryForm($event)">
    </tl-form>
    
  </tl-card>

</tl-popup-overlay>