<div longPress
  class="tl-full tl-row-dir tl-vert-center tl-hor-space-between tl-no-wrap tl-flex-block"
  [class.tl-clickable]="this.isInSelectionMode"
  (longClick)="this.onLongClickBatch()"
  (mousedown)="this.onClickBatch()">
    
  <div
    class="tl-subtitle tl-flex-grow tl-ellipsis tl-noselect"
    style="margin-right:10px">
    {{ batch.name }}
  </div>
  
  <div
    class="tl-row-dir tl-vert-center tl-no-wrap tl-flex-block">
  
    <ng-container
      *ngIf="!this.isInSelectionMode">
      
      <ng-container
        *ngIf="this.householdService.isLoaded && !this.householdService.household.categories.includes(this.batch.category)">
        
        <tl-square-icon
          style="margin-right:0px;"
          class="tl-margined"
          [size]="30"
          [icon]="'ion-alert-circle-outline'"
          [color]="'tl-neutral'">
        </tl-square-icon>
        
        <div
          class="tl-small-content tl-neutral-content-element"
          title="La catégorie pour ce lot n'est pas cohérente avec les catégories du foyer">
          Catégorie&nbsp;invalide
        </div>
        
      </ng-container>
      
      <tl-icon-toggler
        class="tl-margined" 
        [size]="30"
        [icon]="'ion-heart-outline'"
        [iconOn]="'ion-heart'"
        [initialState]="batch.favorite"
        (toggle)="this.onChangeFavoriteFlag($event)">
      </tl-icon-toggler>
      
      <tl-square-icon
        *ngIf="this.displayEditButton"
        style="cursor:pointer"
        class="tl-margined"
        [size]="30"
        [icon]="'ion-create-outline'"
        (click)="this.clickEditButton.next(batch)">
      </tl-square-icon>
      
      <tl-square-icon
        style="cursor:pointer"
        class="tl-margined"
        [size]="30"
        [icon]="'ion-trash-outline'">
      </tl-square-icon>
      
    </ng-container>
    
    <ng-container
      *ngIf="this.isInSelectionMode">
      
      <tl-icon-toggler
        class="tl-margined" 
        [size]="30"
        [icon]="'ion-ellipse-outline'"
        [iconOn]="'ion-checkmark-circle'"
        [initialState]="this.isSelected"
        [synchrone]="true"
        [unclickable]="true">
      </tl-icon-toggler>
      
    </ng-container>
    
  </div>
  
</div>

<div
  class="tl-full tl-row-dir tl-vert-center tl-hor-space-between tl-flex-block">
 
  <tl-gauge
    class="tl-flex-grow"
    [tlStyle]="'tl-soft-transparent'"
    [size]="'tl-fit-content'"
    [min]="0"
    [low]="batch.lowLimitQuantity"
    [high]="batch.goodQuantity"
    [max]="batch.highestQuantity"
    [current]="batch.quantity">
  </tl-gauge>

  <div
    style="margin-left:10px"
    class="tl-row-dir tl-vert-center tl-flex-block">
    
    <tl-button longPress
      [tlStyle]="'tl-dome'"
      [size]="30"
      [icon]="'ion-remove-outline'"
      (clickButton)="onClickBatchRemove()"
      (keepClick)="onClickBatchRemove()">
    </tl-button>
    
    <tl-button longPress
      [tlStyle]="'tl-dome'"
      [size]="30"
      [icon]="'ion-add-outline'"
      (clickButton)="onClickBatchAdd()"
      (keepClick)="onClickBatchAdd()">
    </tl-button>
    
  </div>
  
</div>