<tl-loader
  *ngIf="!this.areStatsComputed">
</tl-loader>

<tl-indicator
  *ngIf="this.areStatsComputed"
  class="tl-xbig-margined"
  [icon]="'ion-pulse-outline'"
  [iconSize]="100"
  [text]="this.autonomy + ' jours d\'autonomie'"
  [textPosition]="'bottom'"
  [color]="'tl-outline'">
</tl-indicator>

<div
  class="tl-near-full-responsive tl-row-dir tl-vert-center tl-hor-center tl-flex-block">
  
  <tl-indicator
    *ngIf="this.areStatsComputed"
    class="tl-xbig-margined"
    [icon]="'ion-flame-outline'"
    [iconSize]="100"
    [text]="this.totalEnergy + ' kCal'"
    [textPosition]="'bottom'">
  </tl-indicator>
  
  <div
    class="tl-xbig tl-row-dir tl-hor-center tl-vert-center tl-flex-block"
    style="height:500px;">
  
    <tl-loader
      *ngIf="!this.isEnergyChartReady">
    </tl-loader>
  
    <google-chart
      *ngIf="this.isEnergyChartReady"
      style="width:100%;height:100%"
      [type]="this.chartType"
      [data]="this.energyChartData"
      [columns]="this.energyChartColumnNames"
      [options]="this.chartOptions">
    </google-chart>
  
  </div>
  
</div>

<div
  class="tl-near-full-responsive tl-row-dir tl-vert-center tl-hor-center tl-flex-block">

  <tl-indicator
    *ngIf="this.areStatsComputed"
    class="tl-xbig-margined"
    [icon]="'ion-cash-outline'"
    [iconSize]="100"
    [text]="this.totalPrice + ' €'"
    [textPosition]="'bottom'">
  </tl-indicator>
  
  <div
    class="tl-xbig tl-row-dir tl-hor-center tl-vert-center tl-flex-block"
    style="height:500px;">
  
    <tl-loader
      *ngIf="!this.isPriceChartReady">
    </tl-loader>
  
    <google-chart
      *ngIf="this.isPriceChartReady"
      style="width:100%;height:100%"
      [type]="this.chartType"
      [data]="this.priceChartData"
      [columns]="this.priceChartColumnNames"
      [options]="this.chartOptions">
    </google-chart>
  
  </div>
  
</div>
