@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Hammersmith+One&display=swap');

* {
  -webkit-tap-highlight-color:transparent;
}

.tl-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}



.tl-shadowed-soft-transparent {
  background-color: var(--transparent-bg-color)!important;
  box-shadow: 0 8px 32px 0 var(--dark-shadow-color);
}

  .tl-shadowed-soft-transparent.tl-pushable:active {
    box-shadow: none;
  }


.tl-bodylike{
  background-color: var(--main-bg-color)!important;
  background-image: var(--main-bg-pattern)!important;
}