<tl-loader
  *ngIf="!this.isLoaded">
</tl-loader>

<ng-container
  *ngIf="this.isLoaded">

  <ng-container
    *ngFor="let place of this.displayedStock">
    
    <!-- Title -->
    <div
      class="tl-big-margined tl-title">
      {{ place.name }}
    </div>
    
    <!-- Shopping batch panel -->
    <div
      class="tl-full tl-row-dir tl-hor-center tl-vert-center tl-flex-block">
      
      <ms-batch
        class="tl-margined"
        *ngFor="let batch of place.resolvedBatches"
        [place]="place"
        [batch]="batch"
        [size]="'tl-big'">
      </ms-batch>
      
    </div>
  </ng-container>

</ng-container>
